.character-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .character-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
    }
}