.character-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .character-gallery {
        justify-content: flex-start;
        margin-right: 0;
        padding: 0 10px;
    }
}