.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    max-width: 960px;
    height: 400px;
    gap: 1.5vh;
    align-items: center;
    margin: auto;
    padding: 0.5vh;

}
.status-bar {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "Mark Pro", Arial, sans-serif;
    font-weight: bold;
    text-shadow:  1px  1px 1px black,
    1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
}
.turns-counter, .timer {
    display: inline-block;
    color: cyan;
    margin: 10px 20px;
    font-size: 25px;
    font-family: "Mark Pro", Arial, sans-serif;
}
.timer {
    float: right;
    font-family: "Mark Pro", Arial, sans-serif;
}

.mini-card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    height: 3vh;
    width: 3vh;
    padding: 0.1vh;
}
.mini-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.won-text{
    color: aqua;
}
.lost-text {
    color: red;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.timer.pulsate {
    animation: pulsate 1s infinite;
    color: #FF4500;
}