.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    max-width: 960px;
    height: 400px;
    gap: 4px;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.status-bar {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
}

.turns-counter, .timer {
    display: inline-block;
    color: green;
    margin: 10px 20px;
    font-size: 25px;
}

.timer {
    float: right;
}

.gameBoard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}