.dropdown-rick{
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    border-radius: 1vh;
    background-image: url("https://i.pinimg.com/originals/64/5c/8d/645c8d877f6e2aad7fa6545140c72a52.gif");
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    width: auto;
    align-content: center;

}

.dropdown-column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.dropdown-menu{
    display:flex;
    flex-direction: column;
}
.dropdown-got{
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    border-radius: 1vh;
    width: auto;
    background-image: url("https://thumbs.gfycat.com/ArtisticMessyDutchsmoushond-size_restricted.gif");
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    align-content: center;
}
.card-dropdown{
    display:flex;
    flex-direction: column;
}
