body {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/019/672/653/large/mohammed-gadi-rnm.jpg?1564526784');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.button {
  display: flex;
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-image: url("https://i.pinimg.com/originals/64/5c/8d/645c8d877f6e2aad7fa6545140c72a52.gif");
  background-position: center;
}
.header-container{
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: flex-start;
}
.neuefischeHeader {
  display: flex;
  width: 350px;
  height: 150px;
  margin-left: -11vh;
}
.placeholder{
  display:flex;
}
.home{
  text-decoration: none;
}
.Dashboard {
  align-self: center;
  margin-left: -8vh;
  margin-top: 56px;
  color:white;
  text-decoration: none !important;
  cursor: pointer;
}

.buttons-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 5.5vh;
}
#background-image{
  position:absolute;
}

.h2 {
  display: flex;
  color: #f0f0f0;
  font-size: 31.008px;
  font-family: "Mark Pro", Arial, sans-serif;
  margin-left: 10vh;
  font-weight: bolder;
  text-shadow:  1px  1px 1px black,
  1px -1px 1px black,
  -1px  1px 1px black,
  -1px -1px 1px black;
  background-color: transparent;
}

.p1 {
  display: flex;
  color: aqua;
  font-size: 20px;
  font-family: "Mark Pro", Arial, sans-serif;
  margin-left: 10vh;
  margin-top: -2vh;
  font-weight: bolder;
  text-shadow:  1px  1px 1px black,
  1px -1px 1px black,
  -1px  1px 1px black,
  -1px -1px 1px black;
  background-color: transparent;


}

.neuefischeLogo {
  display: flex;
  width: 250px;
  height: 100px;
  margin-bottom: 3vh;
  border-radius: 70px;
  margin-left:10vh;
  margin-top: 5vh;
  justify-content: flex-start;

}

.available-button {
  display: flex;
  justify-content: flex-start;
  padding: 10px 16px;
  background-color: #FF4500;
  width: 300px;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16vh;
  margin-left: 10vh;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 8px;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  flex: 1;
  text-align: center;
  font-size: 29px;
  font-family: "Mark Pro", Arial, sans-serif;
  margin-top: 5px;
  color:#fff;
}

.arrow {
  width: 16px;
  height: 16px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(45deg);
  margin-right: 8px;
}

.play-container{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

}

.Frankenstein{
  display:flex;
}